DJANGO_DEBUG=
DJANGO_ALLOWED_HOSTS=
DJANGO_SECRET_KEY=

PROMOINFO_RESTRICTED_USERNAME=
PROMOINFO_RESTRICTED_EMAIL=
PROMOINFO_RESTRICTED_PASSWORD=

RECAPTCHA_SITE_KEY=
RECAPTCHA_SECRET_KEY=
RECAPTCHA_ALLOWED_HOSTNAMES=

PROMOINFO_SECURE_COOKIES=
PROMOINFO_FORCE_HTTPS=
PROMOINFO_HSTS_SECONDS=
SESSION_COOKIE_AGE=

PROMOINFO_DB_ENGINE=
PROMOINFO_DB_NAME=
PROMOINFO_DB_USER=
PROMOINFO_DB_PASSWORD=
PROMOINFO_DB_HOST=
PROMOINFO_DB_PORT=
PROMOINFO_DB_SSLMODE=
PROMOINFO_TIME_ZONE=

PROMOINFO_ASSISTANT_TOKEN=
PROMOINFO_ASSISTANT_MODEL=
